.app-mainSpace{
  padding: 50px;
  color:$color-magnolia;
  background: rgba(0,0,0,0.6);
}
.allFormContainer{
  max-width: 100%;
  padding-top: 40px;
  margin-top: 10px;
  font-family: $font-main;
  line-height: 1.3em;

}
.FormContainer{
  margin-top: 40px;
  color: $color-antique;
  p{
    text-align: center;
    font-size: 1.2em;
  }
}
.table_form{
  height: auto;
  max-width: 98%;
  margin: 0 auto;
  text-align: left;

  th{
    padding: 10px 20px;
  }
}
table{
  height: auto;
}
.line {
  width: 100%;
  height: 3px;
  background: gray;
  margin:7px;
}
.list-form{
 color: $color-antique;
  border-bottom: 2px solid gray;
}
.next_list_form{
  margin: 20px 0;

  td{
    padding: 0 10px;
  }
}
.fa-circle{
  font-size: 0.5em;
  text-align: center;
}


@media only screen and (max-width: 1200px){
  .app-mainSpace{
    padding: 50px 5px;
  }
  .allFormContainer{
    padding: 5px;
  }
  .table_form{
    .list-form{
      th{
        padding: 0;
      }
    }
  }
}
