.container{
  width: 100%;
  background-color: $color-bisque;
  height: auto;

  .aboutme{
    background-color: $color-antique-light;
  }
  .container_nav_about{
    @extend %main_header_style;

    .name{
      margin-top: 15px;
    }
  }
  .container_info{
    display: flex;
    padding: 30px 200px;
    justify-content: space-around;
    font-family: $font-main;
    line-height: 1.3em;
    text-align: justify;

    .aboutme{
      text-align: end;
    }
  }

  @media only screen and (max-width: 1200px){
    .container_info{
      display: block;
    }
  }
}

// Big section

.main_section_aboutme{
  @extend %image-style;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.section_aboutme{
  background: none;
}

.nav_aboutme{
  line-height: 1.3em;
  padding: 10px 0;
  font-size: 1.2em;
}

.paragraf_aboutme{
  margin: 30px 0;
}
%block-style{
  width: 50%;
  padding: 30px 100px;
  font-family: $font-main;
  line-height: 1.3em;
  text-align: justify;
  border-radius: 20px;
  background: $color-bisque;
}
.container_aboutme{
  @extend %block-style;
  margin: 20px 30px 150px 20px;

}
.container_description_aboutme{
  @extend %block-style;
  margin: 150px 0 50px 90px;
}

.icone_aboutme{
  display: flex;
  i{
    margin-right: 15px;
  }
}

.certificates{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

}
.certificat{
  width: 100%;
  height: auto;
}