//oferts

.oferts{
  background-color: $color-bisque;
  position: relative;
}
.btn-oferts{
  background-color: $color-antique;
}

// collaboration

.collaboration{
  background-color: $color-green;
  position: relative;
}

.img-collaboration{
  margin-right: 0;
  margin-left: 60px;
}

// instagram

.instagram{
  background-color:$color-mignonette;
}

