.w3-content{
  width: 100%;
  height: 750px;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.mySlides {
  min-width: 100%;
  min-height: 750px;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
}

%btn-styles {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  background: none;
  width: 6%;
  transition: 0.5s;
  border: none;
  outline: none;
  margin: auto;

  &:hover{
    //background: rgba(0,0,0,0.356);
    cursor: pointer;
    i{
      color: $color-width;
    }
  }
}

.btn-left {
  left: 0;
  @extend %btn-styles;
}

.btn-right {
  right: 0;
  @extend %btn-styles;
}
i{
  font-size: 3rem;
}

.text_slider{
  position: absolute;
  text-align: center;
  width: 100%;
  margin: auto;

  .logo_slider{
    padding: 15px;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-family: $font-main;
    line-height: 0.8em;
  }
}



