.contact-footer{
  display: flex;
  position: absolute;
  width: 100%;
  background-color: $color-antique;
  justify-content: center;
}
.container_footer {
  font-family: $font-main;
  margin: auto;
  padding-top: 5px;

  .footer {
    //width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 5px;

    a{
      text-decoration: none;
      color: #222222;
      font-size: 1rem;
    }

    .footer2 {
      padding-bottom: 15px;
    }
  }
}

.fa-angle-double-up{
  font-size: 2rem;
  text-align: end;
  color: white;
  margin: auto 0;
  padding-right: 20px;
}

.contact {
  background-color: $color-bisque;
  font-family: $font-main;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 30px 200px;

  .contact-header {
    font-size: 1.1em;
    text-align: center;
  }

  .contact-text {
    line-height: 0.8em;
    padding-top: 5px;
    text-decoration: none;
  }
}

.contact-one {
  i {
    margin-left: 70px;
    font-size: 1em;
    margin-bottom: 15px;
    color: $color-antique;
  }
}

.contact-two {
  i {
    margin-left: 100px;
    font-size: 1em;
    margin-bottom: 15px;
    color: $color-antique;
  }
}

.contact-three {
  i {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 2.5em;
    color: $color-antique;

  }
}


@media only screen and (max-width: 800px){
  .contact{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;

    i{
      margin-left: 17px;
      margin-bottom: 5px;
    }
  }
  .contact-one,
  .contact-two{
    padding-top: 7px;
  }
  .contact-footer{
    margin-top: 5px;
  }
}
@media only screen and (max-width: 1200px){
  .contact {
    text-align: center;
    padding: 20px 0;
  }
  .contact-one,
  .contact-two {
    padding-top: 7px;

    i {
      margin-left: 5px;
      margin-bottom: 5px;
    }
  }
}