.container_nav_offert{
  @extend %main_header_style;
  //position: relative;

  .name{
    margin-top: 15px;
  }
}


// Main section
.main_container_offer{
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.main_offer{
  background:none;
}

.name_offer{
  font-family: $font-main;
  line-height: 1.3em;
  padding: 25px 0;
}

.nav_offer{
  line-height: 1.3em;
  padding: 10px 0;
  font-size: 1.2em;
  border-bottom: 1px solid black;
}

.paragraf_offer{
  margin: 30px 0;
}

.first_container{
  @extend %main_header_style;
  padding: 150px 0;
  color: $color-width;
  background: rgba(0,0,0,0.356);
  margin-top: 150px;
  margin-bottom: 150px;
}
.container_info_offer{
  align-items: center;
  width: 100%;
}
.container_offer{
  width: 60%;
  padding: 30px 100px;
  font-family: $font-main;
  line-height: 1.3em;
  text-align: justify;
  border-radius: 20px;
  margin: 40px auto;
  background: $color-bisque;
}