

// instagram

.container_nav_instagram{
    @extend %main_header_style;
    background-color:$color-mignonette;
    .name{
      margin-top: 15px;
    }
  }


@media only screen and (max-width: 1200px){
  .container_nav_instagram{
    padding: 10px 20px;
  }
}
