.section{
  background-color: $color-bisque;
  padding-top: 50px;
}

.section-block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.block{
  flex-direction: column;
 // width: 176px;
  margin: 0 92px;
}
.empty-calendar{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: $color-antique-light;
  position: relative;
}
.empty-eye{
  width: 70px;
  height: 70px;
  border-radius: 40px;
  background: $color-green;
  //margin-bottom: 15px;
  position: relative;
}
.empty-catalog{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: $color-melon;
  position: relative;
}
.section-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-calendar-check{
  position:absolute;
  font-size: 2.5em;
}
.fa-glass-cheers{
  position:absolute;
  font-size: 2.5em;
}
.fa-battery-full{
  position: absolute;
  font-size: 2em;

}
.block-value{
  text-align: center;
  color: black;
  font-family: $font-main;
  line-height: 1.3em;
  margin-top: 10px;
}
.block-text{
  font-family: $font-main;
  line-height: 1.3em;
  margin-top: 19px;
  text-align: center;
}

@media only screen and (max-width: 1200px){
.block{
  margin: 0 auto ;
  width: 33%;
}
  .block-text{
    flex-wrap: wrap;
  }
  .block_eye{
    margin-bottom:20px;
  }
}
@media only screen and (max-width: 800px){
  .section{
    padding-top: 15px ;
  }
  .section-block{
    display: block;
    margin-bottom: 10px;
  }
  .block-select{
    margin-top: 25px;
  }
  .block-text{
    margin: 0;
  }
}