$color-magnolia: #eae4e9;
$color-melon: #ffb5a7;
$color-antique: #cb997e;
$color-antique-light: rgba(203,153,126,0.6);
$color-width: #fffffa;
$color-black: rgba(25, 25, 25);
$color-green:#ccd5ae;
$color-mignonette:#e9edc9;
$color-bisque: rgba(252, 251, 240);
$color-silk:#faedcd;


$font-main: 'Lato', sans-serif;